*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;

}

.border:hover{
    border: 1.5px solid white;
}


/** second box **/

.add-first{
    font-size: 0.75rem;
    color: #cccc;
    margin-left: 20px;
}
.add-second{
    font-size: 1rem;
    font-weight: 700;
}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 48px;
    width: 620px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.op-all{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
    width: 45px;
}

.nav-search-box{
    border: none;
    width: 100%;
    font-size: 1rem;
}

.search-icon{
    background-color: rgba(226, 171, 6, 0.867);
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.language{
    color: white;
    background-color: #0f1111;
    font-size: 1rem;
    height: 25px;
    border: none;
    font-weight: 700;
    
}
.region{
    display: flex;
    align-items: center;
    height: 50px;
}
.india-flag{
    background-image: url(India_icon.webp);
    background-size: cover;
    width: 30px;
    border: none;
    /* background-color: white; */
}

/* box4 */

span{
    font-size: 0.85rem;
}
.nav-sec{
    font-size: 1rem;
    font-weight: 700;
}

/* box5 */

.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

/* panel */

.panel{
    background-color: #0f1111cb;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
    
}
.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}
.panel-op{
    width: 70%;
}
.panel-op p{
    display: inline;
    margin-left: 15px;
    font-size: 0.85rem;
    font-weight: 700;
}

/* hero-section */

.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 300px;
}


/* shop-section */

.shop-section{
    background-color: #FBF1E7;
    display: flex;
    justify-content: space-evenly;
}
.shop-section a:hover{
    color: #11365a;
}

.box{
    height: 400px;
    width: 23%;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    color: #0f1111;

}
.box p{
    height: 50px;
    width: 87%;
}

.box a{
    color: #2162A1;
    font-size: 13px;
    text-align: right;
}

.content-box{
    height: 80%;
    width: 87%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
.content-box p{
    height: 20px;
    width: 100px;
    background-color: #ffffff;
}

.image-box{
    background-color: rgb(209, 9, 9);
    height: 120px;
    width: 130px;
    
    background-position: center;
    position: relative;
    
     
}
.image{
    background-size: cover;
    height: 100px;
    width: 100%;
}
.image-box p{
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: #616161;
    
    
}

/* shop-section-horizontal */

.shop-sec-hori{
    height: 650px;
    
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.rect{
    height: 265px;
    width: 94%;
    padding: 10px 20px 10px 20px;

    background-color: white;
    
    
}
.rect-msg{
    display: flex;
    
    
}
.rect p{
    height: 35px;
    width: 600px;
    margin-left: 30px;
    font-size: 21px;
    font-weight: 700;
    

}
.rect a{
    display: block;
    /* margin-left: px; */
    color: #2162A1;
    font-size: 14px;
    padding: 5px;
    
}
.rect-img{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.rectangle{
    height: 200px;
    width: 150px;
    
    
    background-size: cover;
    
}

.bike{
    height: 190px;
    width: 300px;
    
    
}

/* horizontal 4 */

.food-box{
    height: 150px;
    width: 130px;
    background-size: cover;
}


/* sign-in */
.color-fill{
    height: 20px;
    background-color: #FAEDD7;
}
.sign-in{
    height: 210px;
    /* padding: 50px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sign-button button{
    height: 30px;
    width: 250px;
    border-radius: 30px;
    background-color: #FFD814;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;

}
.sign-button button:hover{
    background-color: #e9cb38;
}

.sign-text{
    height: 35px;
    width: 900px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.sign-new{
    margin-top: 5px;
    display: flex;
    font-size: 11px;

}
.sign-new a{
    color: #2162A1;
}
.sign-new a:hover{
    color: #11365a;
}

.line{
    border: none;
    height: 1px;
    width: 1515px;
    margin: 5px 0px 40px 0px;
    background-color: #DDDDDD;
}
.line2{
    border: none;
    height: 1px;
    width: 1515px;
    margin: 40px 0px 5px 0px;
    background-color: #DDDDDD;
}

/* footer */

.top{
    height: 50px;
    
    background-color: #37475A;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 13px;
    color: white;
    font-weight: 700;
}
.top:hover{
    background-color: #37475aec;
}

.foot-links{
    height: 310px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
}

.links{
    height: 300px;
    width: 220px;
    
}

.links p{
    height: 35px;
    margin: 5px 0px 5px 0px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.links a{
    height: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #DDDDDD;
    display: block;
}
.loc-line{
    height: 1px;
    width: 1515px;
    background-color: #616161;
}
.foot-loc{
    height: 80px;
    background-color: #232F3E;
    
}
.location{
    display: flex;
    justify-content: center;
}
.foot-logo{
    height: 70px;
    width: 90px;
    margin-top: 6px;
    background-image: url(amazon-logo.png);
    background-size: cover;
}
.foot-lang{
    height: 35px;
    width: 130px;
    border: 1px solid #848688;
    border-radius: 3px;
    margin: 20px 0px 0px 90px;
    display: flex;
    align-items: center;
    color: #848688;
    font-size: 13px;
}
.foot-lang i{
    margin-left: 10px;
}
.foot-lang p{
    margin: 0px 20px 0px 6px;
}

.foot-region{
    height: 35px;
    width: 90px;
    border: 1px solid #848688;
    margin: 20px 0px 0px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848688;
    font-size: 13px;
}

.foot-flag{
    height: 12px;
    width: 18px;
    background-image:url(India_icon.webp) ;
    background-size: cover;
    margin-right: 5px;
}

/* foot-panel */
.foot-panel{
    height: 350px;
    background-color: #131A22;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-social{
    height: 180px;
    width: 700px;
    margin-top: 30px;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social{
    height: 70px;
    width: 150px;
    color: #848688;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.social p{
    color: white;
    font-weight: 400;
    font-size: 12px;
}

.foot-cond{
    height: 18px;
    display: flex;
    justify-content: center;

}
.foot-cond p{
    margin-right: 20px;
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #DDDDDD;
}

.foot-credits{
    height: 18px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #DDDDDD;
}

.underline{
    text-decoration: none;
}
.underline:hover{
    text-decoration: underline;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


